body{
    font-family: "Oswald";
}
.flex-wrapper{
    display: flex;
    height:100vh;
}
.flex-wrapper a{
    flex:1;
    transition:flex 1s;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.flex-wrapper a.one{
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-001.jpg);
}
.flex-wrapper a.two{
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-002.jpg);
}
.flex-wrapper a.three{
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-003.jpg);
}
.flex-wrapper a.four{
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg);
}
.flex-wrapper a.five{
background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-005.jpg);
}
.flex-wrapper a:hover{
    flex:3;
}
.flex-wrapper .overlay{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding:0 10px;
    transition: background 1s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-wrapper a:hover .overlay{
    background:rgba(0,0,0,0.6);
}
.overlay-inner *{
    opacity: 0;
    color:#fff;
    text-align: center;
    transition:3s 0.5s;
}
.overlay-inner h2{
    transform: translateY(-100px);
}
.overlay-inner p{
    transform: translateY(100px);
}
.flex-wrapper a:hover .overlay-inner *{
    transform:none;
    opacity: 1;
}



/*

https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-001.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-002.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-003.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg
https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/nav-004.jpg

*/


